@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body {
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    padding:1.2rem;

}

main {
    height: auto;
    width: 200px;
    background-color: hsl(0, 0%, 12%);
    max-width: 1200px;
    min-width: 350px;
    padding: 1.2rem;
    border-radius: 10px;
    text-align: center;
}

img {
    display: block;
    width: auto;
    height: 70px;
    margin: 15px auto;
    border-radius: 50%;
}

article > h2 {
    color: white;
    margin: 8px 0;
}

article > p.localizacao {
    color: hsl(75, 94%, 57%);
}

article > p.profissao {
    color: lightslategray;
    margin: 25px 0 20px 0 ;
}

a {
    text-decoration: none;
    color: lightgray;

}

abbr {
    text-decoration: none;
}

div {
    background-color: hsl(0, 0%, 20%);
    padding: 10px;
    margin: 1rem;
    border-radius: 5px;
}
